* {
    border: none;
    border-radius: 4px;
    font-family: JetBrainsMono NF;
    font-size: 13px;
    min-height: 0;
}

#window {
    background: #64727D;
    border-bottom: 3px solid #f0932b;
}

window#waybar {
    background: rgba(43, 48, 59, 0.5);
    border-bottom: 0px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
}

window#waybar.hidden {
    opacity: 0.0;
}
/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#tags button {
    margin: 0 1px;
    padding: 0 4px;
    background: #64727D;
    box-shadow: inset 0 -3px transparent;
}

#tags button.occupied {
    font-weight: bold;
    background: #D79921;
}

#tags button.focused {
    background: #694f91;
    border-bottom: 3px solid #f0932b;
}

#tags button.urgent {
    color: #eb4d4b;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid #f0932b;
}


#backlight,
#battery,
#clock,
#cpu,
#disk,
#memory,
#mode,
#network,
#temperature,
#wireplumber {
    padding: 0 10px;
    margin: 0 3px;
}

#backlight {
    background: #90b1b1;
}

#battery {
    background-color: #44475a;
    color: #f8f8f2;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#clock {
    background-color: #ff5555;
    color: #282a36;
}

#cpu {
    background-color: #f1fa8c;
    color: #282a36;
}

#disk {
    background-color: #ffb86c;
    color: #282a36;
}

#memory {
    background-color: #f1fa8c;
    color: #282a36;
}


#network {
    background-color: #50fa7b;
    color: #282a36;
}

#network.disconnected {
    background-color: #50fa7b;
    color: #282a36;
}

#temperature {
    background-color: #ff79c6;
    color: #282a36;
}

#temperature.critical {
    background-color: #ff5555;
    color: #282a36;
}

#wireplumber {
    background-color: #bd93f9;
    color: #282a36;
}

#wireplumber.muted {
    background-color: #44475a;
    color: #f8f8f2;
}
